/node_modules
/public/hot
/public/storage
/public/sw.js
/storage/*.key
/vendor
/app/MainApp/
/app/MainApp/*
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.json
composer.lock
