/node_modules
/public/hot
/public/dist
/public/dist/*
/public/assets
/public/assets/*
/public/storage
/public/sw.js
/public/mix-manifest.json
/storage/*.key
/vendor
/app/MainApp
/app/MainApp/*
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.json
composer.lock
package-lock.json